.bg-lime{
    background-color: #16FF00;
}

.bg-black{
    background-color: #0F0F0F;
}

.bg-gray {
    background-color: gray;
}

.text-black {
    color: #0F0F0F;
}

.text-lime {
    color: #16FF00;
}
