.custom-table {
 width: 100%;
}

.custom-table th {
    background-color: #0F0F0F;
    color: #16FF00;
    padding-left: 15px;
}

.custom-table td {
    padding-left: 15px;
    height: 50px;
}

.custom-table tr {
    background-color: gray;
    border: 1px solid ;
}
